@font-face {
    font-family: texto;
    src: url(/fonts/PatrickHandSC-Regular.ttf);
}

@font-face {
    font-family: rock;
    src: url(/fonts/gomarice_rocks.ttf);
}


:root{
    --verde:rgb(182, 222, 123);
    --rojo:rgb(222,123,141);
}

/* rosa: #DE7B8D */
/* verde: #B6DE7B */

html{
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    user-select: none;
    width:100%;
    height: 100%;
    overflow: hidden;
}

/* HEADER */



header{
    height: 10%;
    width: calc(100% -10px);
    margin-top: 0;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: var(--verde);
    
}
h1{
    height: 100%;
    width: 70%;
    background-color: transparent;
    font-family: rock, titulo, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(5, 65, 4);
    font-size: calc(100vw/20);
}

#info{
    height: 2em;
    width: 2em;
    position: fixed;
    top:calc(10%-2em);
    right:5%;
    border-radius: 50%;
    background-color:rgb(210, 236, 169);
    color:rgb(71, 95, 34);
    border:1px solid white;
}

#info:hover{
    cursor: pointer;
    border: 1px solid rgb(244, 255, 95);
    color: white;
    background-color: rgb(154, 178, 117);
}

/* Puntos usuarios */

main{
    height: 90%;
    width: 100%;
}

.contenedor-puntos{
    display: flex;
    flex-direction: column;
    align-items: center;
    top:calc(25%/2);
    height:50%;
    margin-left: 1em;
    color: white;
}

h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8em;
    text-transform: uppercase;
}

.puntos{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
}

/* ZONA JUEGO COMPUTADORA */
#zona-computadora{
    height: 50%;
    width:100%;
    background-color:rgba(182, 222, 123);
    display: flex;
    align-items: center;
}

#contenedor-puntos-computadora{
    top:15%;
}

#contenedor-seleccion-computadora{
    width:100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#computadora{
    height: 30vh;
}

#computadora img{
    height: 100%;
}


/* ZONA JUGADOR USUARIO */
#zona-usuario{
    height: 50%;
    width:100%;
    background-color: rgba(222, 123, 141);
    display: flex;
    align-items: center;
}

#contenedor-puntos-usuario{
    top: 60%;
}

#contenedor-seleccion-usuario{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

#seleccion-usuario{
    height: 30vh;
}

#seleccion-usuario img{
    height: 100%;
}

#contenedor-opciones-usuario{
    width: 70vw;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

.btn-usuario{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border:none;
}

.btn-usuario img{
    width: 130%;
}

.btn-usuario:hover{
    filter:drop-shadow( 1px 10px 10px rgb(152, 64, 80));
}

.btn-usuario:not(:hover){
    filter:saturate(0);
}

/* GANADOR */
#contenedor-ganador{
    display: none;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    width:100%;
    height:100%;
    background-color: rgba(192, 255, 233, 0.505);
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(250,255,150,1) 71%);
}

/* #close-ganador{
    width:2em;
    height:2em;
    position: fixed;
    top:0px;
    right:0px;
    background-color: white;
    font-family: titulo;
    font-size: 1.5em;
    border:1px solid rgb(167, 167, 167);
    color: gray;
    cursor: pointer;
    border-radius: 50%;
    margin:4px;
}

#close-ganador:hover{
    color: black;
} */

#informacion-ganador{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#ganador{
    font-size: 2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: .5em 1em .5em 1em;;
    text-align: center;
    color: rgb(204, 103, 121);
    background-color: white;
    border: 4px solid rgb(241, 251, 159);
}

#jugar-again{
    font-family:texto;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    padding: 1.5em;
    border-radius:20%;
    border:none;
    background: rgb(222,123,141);
    background: linear-gradient(9deg, rgba(222,123,141,1) 38%, rgb(210, 236, 169) 85%);
    cursor:pointer;
    box-shadow: 1px 6px 6px rgb(238, 240, 154);

}

#jugar-again:hover{
    transition-duration: 1s;
    background: rgb(182,222,123);
    background: linear-gradient(9deg, rgba(182,222,123,1) 38%, rgba(222,123,141,1) 85%);
    box-shadow: none;
}

#contenedor-animacion{
    width: 70vw;
    height: auto;
    display: flex;
    justify-content: center;
}

/* CONTENEDOR-REGLAS */

#contenedor-reglas{
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    width:100%;
    height:100%;
    background-color:rgba(250,255,150,1);
    display: none;
}

h3{
    font-family: texto;
    font-weight: bolder;
    font-size: 2em;
}


#contenedor-reglas section{
    width:90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: calc(10%/2);
}

#contenedor-reglas p{
    font-family: texto;
    font-size: 1.5em;

}
#contenedor-jugadas{
    width: 50%;
}

.jugadas{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.jugadas img{
    width:4em;
    height: 4em;
}

.mas{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
#reglas-jugar{
    font-family:texto;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    padding: 1em;
    border-radius:20%;
    border:none;
    background: rgb(222,123,141);
    background: linear-gradient(0deg, var(--verde) , var(--rojo));
    cursor:pointer;
    box-shadow: 1px 6px 6px rgb(238, 240, 154);
}

#reglas-jugar:hover{
    transition-duration: 1s;
    background: rgb(182,222,123);
    background: linear-gradient(0deg, var(--rojo) , var(--verde));
    box-shadow: none;
}

/* ANIMACIONES */
.igual{animation:iguales .9s both}
@keyframes iguales{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}}

/* MEDIA QUERIES */

@media (max-width:450px) {
    #contenedor-reglas p{
        font-size:1.2em ;
    }

    .contenedor-puntos{
        margin-left: .5em;
    }

    h2{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: .5em;
        text-transform: uppercase;
    }
    
    .puntos{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2.5em;
    }
    
}

